body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

*{
    color: #1f1fe3;
}

.bg{
    border-radius: 20px;
    width: 800px;
    height: 700px;
    position: absolute;
    z-index: -1;
    background-color: #1e1d1d;
}

.logo_div{
    background-color: #695656;
    border-radius: 20px;
    width: 180px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.logo{
}